@import "~bulma/sass/utilities/initial-variables"

// Config vars
$primary: #40E0D0
$primary-invert: #fff
$body-color: #333
$black: #2b2523

$navbar-item: #000 !default

@mixin transition($transition...) 
  -moz-transition:    $transition
  -o-transition:      $transition
  -webkit-transition: $transition
  transition:         $transition

button.is-link
  background: $primary !important

hr
  background-color: $primary !important
  margin: 1rem !important

.is-home
  position: absolute !important
  a.navbar-item
    color: #fff

.navbar
  background: transparent !important
  width: 100%;

  .navbar-brand
    margin-left: 0 !important

  @media screen and (min-width: 768px)
    //position: absolute !important

    .container
      flex-direction: column !important
      align-items: center !important

    a.navbar-item
      flex: 1 1 0
      display: flex
      min-width: 95px
      justify-content: center
      border-bottom: 2px solid transparent
      margin: 0 10px
      font-size: 1.25em

.navbar .navbar-menu
  @include transition(all 0.3s)

  box-shadow: none !important
  text-transform: uppercase
  margin-right: 0 !important

.navbar-item
  @include transition(all 0.3s)

  .icon
    color: $primary

  &:hover
    color: $primary !important
    background: none !important

  &.is-active,
  &:active,
  &:focus,
  &:focus-within
    color: $primary !important
    background: none !important
    
  &.active
    color: $primary !important
    border-bottom-color: $primary !important

  .logo
    max-width: 270px
    max-height: none !important

.dropdown
  .dropdown-content
    @include transition(all 0.3s)

    height: 0
    opacity: 0
    background: rgba(255,255,255, 0.9)

    .dropdown-item
      @include transition(all 0.3s)

      &:hover
        color: $primary

  &:hover
    .dropdown-content
      height: 100%
      opacity: 1

.navbar.is-home
  .dropdown-content
    box-shadow: none

.full-width-image-container
  .title
    color: #fff !important
    //background: $primary
    //padding: .5rem

.header-carousel
  // height: 100vh
  // position: absolute;
  // top: 0;
  // left: 0;
  
.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 2em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.full-width-image
    width: 100vw
    height: 400px
    background-size: cover
    background-position: bottom
    display: flex
    justify-content: center
    align-items: center

.btn
    display: inline-block
    padding: 12px 16px 10px
    font-size: 18px
    font-size: 1rem
    line-height: 1.25
    background-color: #fff
    border-radius: .25rem
    text-decoration: none
    font-weight: 700
    color: $primary
    text-align: center
    -webkit-box-shadow: inset 0 0 0 2px $primary
    box-shadow: inset 0 0 0 2px $primary
    -webkit-transition: all .15s ease
    transition: all .15s ease

    &:hover
      color: #fff
      background: $primary
      
      @include transition(all 0.3s)

.margin-top-0
  margin-top: 0 !important

// Override for use of svg's from https://simpleicons.org/
.icon svg
  width: 1.5rem
  height: 1.5rem
  fill: currentColor
.navbar-brand .navbar-item.logo
  padding: 0 1rem
footer.footer
  padding: 3rem 0rem 0rem
  background-color: transparent

//Menu overrides
$menu-item-color: $white-ter
$menu-item-hover-color: $black !important
$menu-item-hover-background-color: $black
$menu-item-active-color: $primary
$menu-item-active-background-color:	$primary-invert
$menu-list-border-left: 1px solid $primary-invert
$menu-label-color: $white-ter

.menu-label
  font-size: 1em !important
  text-align: left
.menu-list
  list-style: none !important
  text-align: left
.social
  padding: 2em
.social a
    padding: .5em .5em .3em .5em
    border-radius: 1em
    background-color: $white-ter
    margin: .5em
    width: 1em
    height: 1em
    vertical-align: middle
    display: inline

// blog roll
.blog-list-item.is-featured
  background-color: #d6400033;
.blog-list-item header
  display: flex;
  margin-bottom: 1em;
.blog-list-item .featured-thumbnail
  flex-basis: 35%;
  margin: 0 1.5em 0 0;

.blog
  .column
    text-align: center;

  .image-wrap
    display: block;
    position: relative;

  .image-wrap .overlay
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: white;
    opacity: 0;
    transition: opacity .3s ease;
    background-color: #000;
    display: flex
    align-items: center
    justify-content: center
    text-transform: uppercase
    font-size: 1em
    padding: 2em
    border-radius: 5px

  .image-wrap:hover .overlay
    opacity: 0.8;

  .menu-image
    position: absolute
    left: 0
    top: 0
    //width: 100%;
    //height: 100%;

@import "~bulma"

// responsiveness
+tablet-only
  .blog-list-item .featured-thumbnail
    flex-basis: 50%
  .navbar-item .logo
    position: relative
    left: 52px
    margin-left: 3rem
  .navbar-burger
    margin: 3rem

+mobile
  .blog-list-item header
    display: block
  .blog-list-item .featured-thumbnail
    text-align: center
    max-width: 70%
    margin: 0 0 1em
  .navbar-item .logo
    max-width: 130px !important
    max-height: 52px !important
  .navbar-brand
    display: flex
    align-items: center
    margin-right: 0.5rem

@media screen and (max-width: 1023px)
  .section 
    padding: 0.5rem 1.5rem
  
  .navbar-menu
    background-color: transparent
    display: block
    height: 0
    opacity: 0

    &.is-active
      height: 100%
      opacity: 1
      
  .navbar a.navbar-item.active
    max-width: 120px !important
    margin: 0 auto
    
  .is-home
    position: relative !important

    .navbar-burger
    border-radius: 4px

    .navbar-item
        color: #4a4a4a !important

